body {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: Calligri_Bold_Italic;
    src: url(Calligri_Bold_Italic.ttf);
}

/* Nav-Bar Styles */

nav {
    position: absolute;
    width: 100vw;
    background-color: #ffc2be;
    z-index: 99;
    margin: 0;
    padding: 0;
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav .nav-container img {
    position: relative;
    height: 50px;
    min-height: 50px;
    padding: 15px 0;
    cursor: pointer;
}

nav .nav-container .menu-icon {
    /* height: 35px;
    min-height: 35px; */
    padding-left: 30px;
    transition: all 0.2s;
}

nav .nav-container .search-icon {
    height: 60px;
    min-height: 60px;
    padding-right: 30px;
    transition: all 0.2s;
}

nav .nav-container .text-based-logo {
    height: 85px;
    min-height: 85px;
}

nav .nav-container .image-based-logo {
    display: none;
}

nav .nav-container .menu-icon:hover {
    transform: scale(1.2);
}

nav .nav-container .search-icon:hover {
    transform: scale(1.2);
}

/* Media Query to change Nav Bar size & contents for Small Phones */
 
@media only screen and (max-width: 425px) {
    .nav-container {
        height: 80%;
    }

    /* When the screen is < 425px, the logo changes type */

    nav .nav-container .text-based-logo {
        display: none;
    }  
    
    nav .nav-container .image-based-logo {
        display: block;
        height: 70px;
    }
}

/* Title Styles */

#title {
    font-family: Calligri_Bold_Italic;
    font-size: 52px;
    text-align: center;
    color: black;
    margin: 25px 0 -12px 0;
    position: relative;
}

.line {
    display: inline-block;
    width: 160px; 
    height: 5px;
    background: black;
    padding: 0 30px;
    margin: 15px 0 25px 0;
}

/* Review Box Carousel Styles */

#review-box {
    max-width: 650px;
    margin-top: 110px;
    background-color: #f6e4d9;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.container p {
    display: inline-block;
}

.col-center {
    margin: 0 auto;
}

#carousel {
    margin: 110px auto;
    padding: 0 80px;
    background-color: yellow;
    z-index: 99;
}

.carousel-item {
    font-size: 16px;
    min-height: 300px;
    max-height: 450px;
    text-align: center;
    overflow: scroll;
}

.carousel-item #image-container {
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 0 auto 10px auto;
    border-width: 2px;
    border-style: solid;
    border-color: #ffc2be;
    border-radius: 50%;
}
/* Media Query to change Carousel Image Size for Small Phones */
 
@media only screen and (max-width: 425px) {
    .carousel-item #image-container {
        width: 80%;
        height: 80%;
    }
}

.carousel-item #image-container img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.carousel-item .customer-text {
    padding: 10px 30px;
    margin: 0 2px;
}

.carousel-item .customer-info {
    padding: 30px 0 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}
.carousel-item #customer-name {
    font-weight: bold;
    color: #383838;
}

.carousel-item #customer-job {
    color: gray;
}

/* Prev & Next Buttons */

.carousel-control {
    margin-top: 60px;
    position: relative;
}

#carousel #prev-btn {
    display: inline-block;
    top: 50%;
}

#carousel #next-btn {
    display: inline-block;
    top: 50%;
}

